<?xml version="1.0"?>
<ruleset name="Distributor">
	<description>PHPCS rules for Simple Cache</description>

	<file>./inc</file>
	<file>./tests</file>
	<file>./simple-cache.php</file>

	<exclude-pattern>./inc/dropins/batcache.php</exclude-pattern>
	<exclude-pattern>./inc/dropins/memcached-object-cache.php</exclude-pattern>
	<exclude-pattern>./inc/dropins/redis-object-cache.php</exclude-pattern>

	<!-- Include the WordPress-Extra standard. -->
	<rule ref="WordPress-Core">
		<exclude name="WordPress.Files.FileName"/>
		<exclude name="Squiz.ControlStructures.ControlSignature.NewlineAfterOpenBrace"/>
	</rule>

	<rule ref="WordPress-Docs"/>

	<rule ref="Generic.CodeAnalysis.UnusedFunctionParameter"/>
	<rule ref="Generic.Commenting.Todo"/>

	<config name="testVersion" value="5.2"/>
	<rule ref="PHPCompatibility"/>

	<config name="minimum_supported_wp_version" value="3.9"/>
</ruleset>
