<?php
/**
 * Set up PHPUnit test library with WP Mock
 *
 * @package  simple-cache
 */

require_once dirname( __FILE__ ) . '/../vendor/autoload.php';
require_once dirname( __FILE__ ) . '/../inc/pre-wp-functions.php';

\WP_Mock::bootstrap();
